body{
	background-color: #f0f4f8;
	font-family: "微软雅黑";
}
.container_01 {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    .col1 {
	    float: left;
	    width: 25%;
	    padding-right: 10px;
	}
	.Punch_l {
	    width: 80%;
	    height: 50px;
	    float: left;
	    h1{
		    height: 30px;
		    line-height: 24px;
		    font-size: 30px;
		    color: #49a8f3;
		    float: left;
		    padding: 0;
		    margin: 0;
	    }
	    span{
		    height: 30px;
		    line-height: 50px;
		    font-size: 16px;
		    color: #575656;
		    float: left;
		    padding: 0 0 0 6px;
		    margin: 0;
	    }
	    p{
	    	width: 100%;
		    height: 20px;
		    font-size: 12px;
		    color: #bdbbbb;
		    float: left;
		    padding: 0;
		    margin: 0;
	    }
	}
	.Punch_r {
	    width: 58px;
	    height: 50px;
	    float: right;
	    .dk-btn {
		    width: 58px;
		    display: inline-block;
		    margin-bottom: 0;
		    padding: 16px 1em;
		    vertical-align: middle;
		    font-size: 14px;
		    font-weight: normal;
		    line-height: 1.2;
		    text-align: center;
		    white-space: nowrap;
		    background-image: none;
		    border: 1px solid transparent;
		    cursor: pointer;
		    outline: none;
		    -webkit-appearance: none;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
		    transition: background-color 300ms ease-out, border-color 300ms ease-out;
		    .hh-radius {
			    border-radius:6px !important;
			}
		}
	}
	.col2{
		float: left;
	    width: 50%;
	    padding-right: 10px;
	    h2{
	    	padding: 0 10px;
		    color: #634eeb;
		    height: 43px;
		    line-height: 43px;
		    margin: 0;
		    padding: 0 6px;
		    font-weight: 100;
		    border-bottom: #634eeb solid 1px;
		    display: block;
		    position: absolute;
		    .sup{
		    	border-radius: 12px;
			    height: 15px;
			    line-height: 15px;
			    color: #fff;
			    font-size: 8px;
			    padding: 0 6px;
			    margin-top: -28px;
			    margin-left: 38px;
			    background: #49a8f3;
			    display: block;
			    position: absolute;
		    }
	    }

	}
	.col3 {
	    float: left;
	    width: 25%;
	}
}
.i-Email-hd {
	border-bottom: #eaeef3 solid 1px;
	height: 43px;
	margin: 0px 10px 0 10px;
	a{
		width: 35px;
	    height: 42px;
	    line-height: 42px;
	    color: #D5DCE5;
	    font-size: 30px;
	    display: block;
	    position: relative;
	    float: right;
	}
	a:hover{
		text-decoration: none;
	}
}
.i-Email-bd{
	margin-left: 0px;
    padding: 0px 0px;
    .list {
    	display: block;
	    padding: 0px 0px;
	    height: 56px;
	    padding: 10px 10px 0 10px;
	    label{
	    	width: 70%;
		    font-size: 16px;
		    color: #3c4859;
		    float: left;
		    display: block;
	    }
	    h1{
	    	font-size: 14px;
		    margin: 0;
		    font-weight: 100;
		    color: #9facbd;
		    float: left;
	    }
	    .Enclosure {
		    width: 10%;
		    font-size: 20px;
		    color: #2095f2;
		    float: left;
		    display: block;
		}
		.En2 {
		    width: 20%;
		    font-size: 14px;
		    text-align: right;
		    color: #9facbd;
		    font-weight: 100;
		    float: left;
		    display: block;
		}
	}
	.list:last-child{
		height: 1000px;
	}
	.list:hover{
		background-color: #e9ecfd;
	}
}
.hh-pd10 {
    overflow: hidden;
    padding: 10px;
}
.index-bd-box {
    background-color: #fff;
    -moz-box-shadow: 0px 2px 0px #dedfe0;
    -webkit-box-shadow: 0px 2px 0px #dedfe0;
    box-shadow: 0px 2px 0px #dedfe0;
}
.shadow {
    transition-duration: 0.3s;
}
.hh-radius {
    border-radius: 6px;
}
.hh-btn-primary {
    color: #fff;
    background-color: #49a8f3;
    border-color: #49a8f3;
}
.hh-btn-primary:hover,
.hh-btn-primary:focus,
.hh-btn-primary:active,
.hh-btn-primary.hh-active,
.hh-dropdown.hh-active .hh-btn-primary.hh-dropdown-toggle {
    color: #fff;
    border-color: #0a6999;
}
.hh-btn-primary:hover,
.hh-btn-primary:focus {
    background-color: #0c79b1;
}
.hh-radius {
    border-radius: 6px;
}
.hh-form select:focus,
.hh-form textarea:focus,
.hh-form input[type="text"]:focus,
.hh-form input[type="password"]:focus,
.hh-form input[type="datetime"]:focus,
.hh-form input[type="datetime-local"]:focus,
.hh-form input[type="date"]:focus,
.hh-form input[type="month"]:focus,
.hh-form input[type="time"]:focus,
.hh-form input[type="week"]:focus,
.hh-form input[type="number"]:focus,
.hh-form input[type="email"]:focus,
.hh-form input[type="url"]:focus,
.hh-form input[type="search"]:focus,
.hh-form input[type="tel"]:focus,
.hh-form input[type="color"]:focus,
.hh-form-field:focus {
    outline: 0;
}
.hh-form select:focus,
.hh-form textarea:focus,
.hh-form input[type="text"]:focus,
.hh-form input[type="password"]:focus,
.hh-form input[type="datetime"]:focus,
.hh-form input[type="datetime-local"]:focus,
.hh-form input[type="date"]:focus,
.hh-form input[type="month"]:focus,
.hh-form input[type="time"]:focus,
.hh-form input[type="week"]:focus,
.hh-form input[type="number"]:focus,
.hh-form input[type="email"]:focus,
.hh-form input[type="url"]:focus,
.hh-form input[type="search"]:focus,
.hh-form input[type="tel"]:focus,
.hh-form input[type="color"]:focus,
.hh-form-field:focus {
    background-color: #ffffff;
    border-color: #f7f7f7;
    outline: 0;
    -moz-box-shadow:0px 0px 8px #DEDFe0; -webkit-box-shadow:0px 0px 8px #DEDFe0; box-shadow:0px 0px 8px #DEDFe0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);*/
}
.hh-form select::-webkit-input-placeholder,
.hh-form textarea::-webkit-input-placeholder,
.hh-form input[type="text"]::-webkit-input-placeholder,
.hh-form input[type="password"]::-webkit-input-placeholder,
.hh-form input[type="datetime"]::-webkit-input-placeholder,
.hh-form input[type="datetime-local"]::-webkit-input-placeholder,
.hh-form input[type="date"]::-webkit-input-placeholder,
.hh-form input[type="month"]::-webkit-input-placeholder,
.hh-form input[type="time"]::-webkit-input-placeholder,
.hh-form input[type="week"]::-webkit-input-placeholder,
.hh-form input[type="number"]::-webkit-input-placeholder,
.hh-form input[type="email"]::-webkit-input-placeholder,
.hh-form input[type="url"]::-webkit-input-placeholder,
.hh-form input[type="search"]::-webkit-input-placeholder,
.hh-form input[type="tel"]::-webkit-input-placeholder,
.hh-form input[type="color"]::-webkit-input-placeholder,
.hh-form-field::-webkit-input-placeholder {
    color: #999999;
}
.hh-form select::-moz-placeholder,
.hh-form textarea::-moz-placeholder,
.hh-form input[type="text"]::-moz-placeholder,
.hh-form input[type="password"]::-moz-placeholder,
.hh-form input[type="datetime"]::-moz-placeholder,
.hh-form input[type="datetime-local"]::-moz-placeholder,
.hh-form input[type="date"]::-moz-placeholder,
.hh-form input[type="month"]::-moz-placeholder,
.hh-form input[type="time"]::-moz-placeholder,
.hh-form input[type="week"]::-moz-placeholder,
.hh-form input[type="number"]::-moz-placeholder,
.hh-form input[type="email"]::-moz-placeholder,
.hh-form input[type="url"]::-moz-placeholder,
.hh-form input[type="search"]::-moz-placeholder,
.hh-form input[type="tel"]::-moz-placeholder,
.hh-form input[type="color"]::-moz-placeholder,
.hh-form-field::-moz-placeholder {
    color: #999999;
}
.hh-form select:-ms-input-placeholder,
.hh-form textarea:-ms-input-placeholder,
.hh-form input[type="text"]:-ms-input-placeholder,
.hh-form input[type="password"]:-ms-input-placeholder,
.hh-form input[type="datetime"]:-ms-input-placeholder,
.hh-form input[type="datetime-local"]:-ms-input-placeholder,
.hh-form input[type="date"]:-ms-input-placeholder,
.hh-form input[type="month"]:-ms-input-placeholder,
.hh-form input[type="time"]:-ms-input-placeholder,
.hh-form input[type="week"]:-ms-input-placeholder,
.hh-form input[type="number"]:-ms-input-placeholder,
.hh-form input[type="email"]:-ms-input-placeholder,
.hh-form input[type="url"]:-ms-input-placeholder,
.hh-form input[type="search"]:-ms-input-placeholder,
.hh-form input[type="tel"]:-ms-input-placeholder,
.hh-form input[type="color"]:-ms-input-placeholder,
.hh-form-field:-ms-input-placeholder {
    color: #999999;
}
.more{
        text-align: right;
        border-top: #eaeef3 solid 1px;
        margin: 0 10px;
        line-height: 42px;
        padding: 0px 0px 4px 0px;
        display: block;
        a:hover{
            text-decoration: none;
            color:#634eeb; 
        }

}