a:hover{
    cursor: pointer;
}
.box {
    width: 100%;
    padding: 0 10px;
    margin: -33px auto auto auto;
    .tab-page {
	    display: none;
	    text-align: center;
	    border-radius: 5px;
	    clear: both;
	}
}
.i-news {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    .tab-page{
    	display: none;
	    width: 100%;
	    text-align: center;
	    clear: both;
    }
    .news-list-box{
    	.box_space{
            margin: 0;
    	    margin-left: 0px;
		    padding: 0px 10px;
		    height: 36px;
		    display: block;
		    line-height: 36px;
		    label{
		    	width: 70%;
	 			text-overflow: ellipsis;
			    overflow: hidden;
			    white-space: nowrap;
		    }
		    span{
		    	float: right;
		    }
    	}
    	.box_space:hover{
    		 background-color: #e9ecfd;
             cursor: pointer;
    		 label,span{
    		 	color: #333;
                cursor: pointer;
    		 }
    	}
    }
    
}
.fooding-tabs-top .fooding-tabs-tab {
    float: left;
    height: 100%;
    margin-right: 0;
}
.fooding-tabs-tab:hover{
	color:#4125e8;
}
.fooding-tabs-bar, .fooding-tabs-nav-container{
	margin: 0 10px;
}
.fooding-tabs-tab{
	padding: 11px 10px;
}