.box_space{
	li{
		float: left;
		width: 33%;
		a{
			color:#2095f2;
		}
		a:hover{
			text-decoration: none;
		}
	}
	li:last-child{
		text-align: right;
	}
}
nav{
	li{
		float: left;
		width: 33%;
	}
}