@import "variables";

@font-face {
  font-family: 'font-1';
  src:  url('#{$icomoon-font-path}/font-1.eot?1df333');
  src:  url('#{$icomoon-font-path}/font-1.eot?1df333#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/font-1.ttf?1df333') format('truetype'),
    url('#{$icomoon-font-path}/font-1.woff?1df333') format('woff'),
    url('#{$icomoon-font-path}/font-1.svg?1df333#font-1') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-offer {
  &:before {
    content: $ic-offer;
  }
}
.ic-dibut .path1 {
  &:before {
    content: $ic-dibut-path1;  
    color: rgb(0, 0, 0);
  }
}
.ic-dibut .path2 {
  &:before {
    content: $ic-dibut-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.ic-dibut .path3 {
  &:before {
    content: $ic-dibut-path3;  
    margin-left: -1em;  
    color: rgb(140, 148, 155);
  }
}
.ic-merge {
  &:before {
    content: $ic-merge;
  }
}
.ic-drval {
  &:before {
    content: $ic-drval;
  }
}
.ic-delete {
  &:before {
    content: $ic-delete;
  }
}
.ic-tsort {
  &:before {
    content: $ic-tsort;
  }
}
.ic-ewrite {
  &:before {
    content: $ic-ewrite;
  }
}
.ic-e-mail {
  &:before {
    content: $ic-e-mail;
  }
}
.ic-einbox {
  &:before {
    content: $ic-einbox;
  }
}
.ic-hbeen {
  &:before {
    content: $ic-hbeen;
  }
}
.ic-ydelete {
  &:before {
    content: $ic-ydelete;
  }
}
.ic-smine {
  &:before {
    content: $ic-smine;
  }
}
.ic-dtbin {
  &:before {
    content: $ic-dtbin;
  }
}
.ic-draft {
  &:before {
    content: $ic-draft;
  }
}
.ic-mction {
  &:before {
    content: $ic-mction;
  }
}
.ic-eamine {
  &:before {
    content: $ic-eamine;
  }
}
.ic-eshare {
  &:before {
    content: $ic-eshare;
  }
}
.ic-checkbox-uncheck .path1 {
  &:before {
    content: $ic-checkbox-uncheck-path1;  
    color: rgb(191, 191, 191);
  }
}
.ic-checkbox-uncheck .path2 {
  &:before {
    content: $ic-checkbox-uncheck-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.ic-checkbox-uncheck .path3 {
  &:before {
    content: $ic-checkbox-uncheck-path3;  
    margin-left: -1em;  
    color: rgb(243, 247, 252);
  }
}
.ic-checkbox-checked .path1 {
  &:before {
    content: $ic-checkbox-checked-path1;  
    color: rgb(202, 202, 202);
  }
}
.ic-checkbox-checked .path2 {
  &:before {
    content: $ic-checkbox-checked-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.ic-checkbox-checked .path3 {
  &:before {
    content: $ic-checkbox-checked-path3;  
    margin-left: -1em;  
    color: rgb(69, 42, 233);
  }
}
.ic-change-password {
  &:before {
    content: $ic-change-password;
  }
}
.ic-information {
  &:before {
    content: $ic-information;
  }
}
.ic-Sign-out {
  &:before {
    content: $ic-Sign-out;
  }
}
.ic-arrow_more_16 {
  &:before {
    content: $ic-arrow_more_16;
  }
}
.ic-activity {
  &:before {
    content: $ic-activity;
  }
}
.ic-information2 {
  &:before {
    content: $ic-information2;
  }
}
.ic-mail {
  &:before {
    content: $ic-mail;
  }
}
.ic-notice {
  &:before {
    content: $ic-notice;
  }
}
.ic-task {
  &:before {
    content: $ic-task;
  }
}
.ic-clear .path1 {
  &:before {
    content: $ic-clear-path1;  
    color: rgb(216, 216, 216);
  }
}
.ic-clear .path2 {
  &:before {
    content: $ic-clear-path2;  
    margin-left: -1em;  
    color: rgb(159, 172, 189);
  }
}
.ic-search {
  &:before {
    content: $ic-search;
  }
}
.ic-i-menu-delete {
  &:before {
    content: $ic-i-menu-delete;
  }
}
.ic-i-add {
  &:before {
    content: $ic-i-add;
  }
}
.ic-i-arrow-left {
  &:before {
    content: $ic-i-arrow-left;
  }
}
.ic-i-arrow-more {
  &:before {
    content: $ic-i-arrow-more;
  }
}
.ic-i-arrow--right {
  &:before {
    content: $ic-i-arrow--right;
  }
}
.ic-i-email {
  &:before {
    content: $ic-i-email;
  }
}
.ic-i-Enclosure {
  &:before {
    content: $ic-i-Enclosure;
  }
}
.ic-i-help {
  &:before {
    content: $ic-i-help;
  }
}
.ic-i-home {
  &:before {
    content: $ic-i-home;
  }
}
.ic-i-inputbox-arrow_16 {
  &:before {
    content: $ic-i-inputbox-arrow_16;
  }
}
.ic-i-menu {
  &:before {
    content: $ic-i-menu;
  }
}
.ic-i-message {
  &:before {
    content: $ic-i-message;
  }
}
.ic-i-search {
  &:before {
    content: $ic-i-search;
  }
}
.ic-i-switch {
  &:before {
    content: $ic-i-switch;
  }
}
.ic-i-user {
  &:before {
    content: $ic-i-user;
  }
}
.ic-i-write-mails {
  &:before {
    content: $ic-i-write-mails;
  }
}

